/* 
    Stile per la sezione di gesitone del sito

    Created on : 13 nov 2025, 16:57:31
    Author     : Mattia
*/
[class*="tgsite-"] h1{
    text-align: center;
    border-bottom: 1px inset var(--color-link-tg2);
    padding-bottom: 3px;
    margin-bottom: 27px;
}
[class*="tgsite-"] [data-item-menu-error]{color: darkred;font-weight: 700;}
[class*="tgsite-"] .draggable-item [data-delete-item], [class*="tgsite-"] .draggable-item [data-delete]{
    position: absolute;
    top: -13px;
    right: -13px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: darkred;
    text-align: center;
}
.comment-count-approved{
    box-sizing: border-box;
    display: block;
    padding: 0 8px;
    min-width: 24px;
    height: 2em;
    border-radius: 5px;
    background-color: #646970;
    color: #fff;
    font-size: 11px;
    line-height: 1.90909090;
    text-align: center;
}
.comment-count-approved:after{
   content: "";
    display: block;
    margin-left: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid #646970;
    border-right: 5px solid transparent;
}
.column-author{width: 10%;}
.column-categories,.column-data{width: 15%;}
.column-comments{
    width: 5.5em;
    text-align: left;
}
tbody .column-data{font-size: 13px;}