/* 
    Stile per la sezione di gesitone del sito

    Created on : 13 nov 2025, 16:57:31
    Author     : Mattia
*/
[class*="tgsite-"] h1{
    text-align: center;
    border-bottom: 1px inset var(--color-link-tg2);
    padding-bottom: 3px;
    margin-bottom: 27px;
}
[class*="tgsite-"] [data-item-menu-error]{color: darkred;font-weight: 700;}
[class*="tgsite-"] .draggable-item [data-delete-item]{
    position: absolute;
    top: -13px;
    right: -13px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: darkred;
    text-align: center;
}