/* 
    Created on : 3 mar 2022, 18:17:44
    Author     : Mattia Leonardo Angelillo
*/
.prenotazioni{
    flex-wrap: wrap;
    justify-content: start;
    gap: 22px;
    font-size: 90%;
}
.prenotazioni .item{
    border: 1px solid;
    padding: 10px;
    width: 350px;
    box-shadow: 0 0 3px #000;
    position: relative;
}
.prenotazioni .eye{
    position: absolute;
    right: -18px;
    top: -21px;
}
