/* 
    Created on : 2 apr 2022, 19:52:36
    Author     : Mattia Leonardo Angelillo
*/
.ticket-index .n-ticket, .ticket-index .n-ticket-paid{
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    padding: 5px;
    width: 100%;
}
.ticket-index .n-ticket-paid{
    top: 34px;
}
@media (min-width: 576px){
    .preview.col-sm-3 {
        max-width: 15%;
    }
}