/**
* Next event's page.
* 
* @author MSD Technologies
* @version 2.0
*/
#next.next-view{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
#next.next-view .event{
    flex-grow: 1;
    flex-basis: 0;
}
#next .title{
    text-align: center;
    font-size: 2rem;
    font-variant-caps: all-small-caps;
}
#next .wrapper,
#next .wrapper .img{
    aspect-ratio: 16/9;
    max-height: 400px;
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f0f0f0;
}
#next .canceled > i{color: darkred;}
#next .place > i, #next .date > i, #next .description > i{color: #dca600;}
#next .payment > i{color: darkgreen;}
#next .reservation > i{color: darkgreen;}
#next .content{
    padding: 1.5rem 10px;
}
#next .turns a{
    color: #000;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    #next .wrapper, #next .content{
        display: block;
        position: static;
    }
}